body{
    background-image: url('https://play-lh.googleusercontent.com/SZ97RCEv5EVH6iMCDIdHeGJM_BNyHYcnRQ4EdK4V_VyVxLlQS8GY1U3xB8atEBH55OM');
    

}

.image{
    width: 50px;
    height:50px;
    margin-top: auto
    
    

}
.navbar h4{
    margin-top: 5px;
   
}
.lead{
    float: right;
    margin-top: -60px;
    margin-right:30px;
    position: relative;

}
.time{
    float: right;
    margin-top: -60px;
    margin-right: -60px;

}
.min{
    height: 700px;
}
